
.profile { 
    text-align: center;
    font-size: 20px;
    max-width: 360px;
    border: 2px solid #353434;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 6px 6px 6px 6px rgba(92, 92, 92, 0.25);
    background-color: #e9ecf3;
    margin: 26px auto;
}
.content {
    padding: 20px 0;
}
  .avatar {
    width: 180px;
    background-color: #282629;
    border: 2px solid rgb(101, 97, 97);
    border-radius: 60%;
    margin: 0 auto;
    box-shadow: 4px 6px 6px 2px rgba(88, 87, 92, 0.25);
    margin-bottom: 16px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .avatar:hover { transform: scale(1.2);}
  
  .name {font-weight: 600;}
  .tag {font-style: italic;
    color: #6d59b2;}
    .location {color: #3d2883;}

  .stats {
    display: flex;
    background-color: #c1cce7;
  }

  .list {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #201818;
    width: 100%;
    padding: 14px 0px;
  }

  .list:not(:last-child) {
    border-right: 2px solid #7d7a7a;
  }

  .value {
    font-weight: 600;
  }