.list {
    display: flex;
    flex-direction: column;
    border: 2px solid #260774;
    width: 100%;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e9ecf3;
    padding: 20px; 
    margin: 0 auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .list:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);}

  .avatar {width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;}


.name {
    font-weight: 500;

  }
  .status {
    font-size: 20px;
    letter-spacing: 0.04em;

    text-align: center;
    background-color: #d4dcf2;
    font-style: italic;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 6px 6px 6px 6px rgba(92, 92, 92, 0.25);
  }
  .status.online {
    color: #259303;
  }
  .status.offline {
    color: #a5190d;
  }

  